agent-detector==2.0.0
aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-doc==0.0.5
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
audioop-lts==0.2.2
beautifulsoup4==4.15.0
certifi==2026.7.22
charset-normalizer==3.5.2
click==8.5.0
colorama==0.4.6
comtypes==1.4.17
contourpy==1.3.3
cycler==0.12.1
detect-installer==0.2.1
dnspython==2.8.0
docopt==0.6.2
dotenv==0.9.9
edge-tts==7.2.8
email-validator==2.3.0
fastapi==0.141.1
fastapi-cli==0.0.32
fastapi-cloud-cli==0.26.0
fastar==0.12.0
fonttools==4.63.0
frozenlist==1.8.0
h11==0.16.0
httpcore==1.0.9
httptools==0.8.0
httpx==0.28.1
idna==3.20
itsdangerous==2.2.0
Jinja2==3.1.6
Js2Py==0.74
kiwisolver==1.5.0
markdown-it-py==4.2.0
MarkupSafe==3.0.3
matplotlib==3.11.1
mdurl==0.1.2
multidict==6.9.1
numpy==2.5.1
packaging==26.2
pandas==3.0.5
pillow==12.3.0
pipwin==0.5.2
playsound==1.2.2
propcache==0.5.4
psutil==7.2.2
pydantic==2.13.5
pydantic-extra-types==2.11.1
pydantic-settings==2.15.0
pydantic_core==2.46.5
Pygments==2.21.0
pyjsparser==2.7.1
pyooz @ git+https://github.com/oMaN-Rod/pyooz.git@9af53d1faaa2f9a7dafe6d6caea117c762dc71d9
pyparsing==3.3.2
pypiwin32==223
PyPrind==2.11.3
pySmartDL==1.3.4
python-dateutil==2.9.0.post0
python-dotenv==1.2.3
python-multipart==0.0.32
pyttsx3==2.99
pywin32==312
PyYAML==6.0.3
requests==2.34.2
rich==15.0.0
rich-toolkit==0.20.5
rignore==0.8.1
scipy==1.18.0
seaborn==0.13.2
sentry-sdk==2.69.2
shellingham==1.5.4
six==1.17.0
soupsieve==2.10
SpeechRecognition==3.17.0
standard-aifc==3.13.0
standard-chunk==3.13.0
starlette==1.6.0
tabulate==0.10.0
typer==0.27.2
typing-inspection==0.4.4
typing_extensions==4.16.0
tzdata==2026.3
tzlocal==5.4.4
urllib3==2.8.0
uvicorn==0.53.0
watchfiles==1.2.0
websockets==17.1
yarl==1.25.1
